.tit {
  font-family: "Sevillana";
  padding-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.menu_space {
  padding-left: 464px;
  padding-top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

.menu {
  padding-left: 55px;
  padding-top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

.ind {
  padding-left: 150px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
